
/* Global style reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, del, dfn, em, img,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    font-family: Tahoma, sans-serif;
    height: 100%;
	background: -moz-linear-gradient(top, #e3e3e3 0%, #fff 20%); /* FF3.6+ */
}

.vert {
    height: 50%;
    float: left;
    width: 1px;
    margin-bottom: -150px;
}

#home {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    clear: left;
}

#home #header {
    text-align: center;
}

#header ul {
    list-style: none;
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    color: #666;
}

#header ul a {
    text-decoration: none;
    color: inherit;
}

#home h1 {
    font-size: 28px;
}

#home h2 {
    font-size: 22px;
}

.ebay {
    font-weight: bold;
}

.ebay .e {
    color: #e53238;
}
.ebay .b {
    color: #0064d2;
}
.ebay .a {
    color: #f5af02;
}
.ebay .y {
    color: #86b817;
}

#home > ul {
    width: 100%;
    margin-top: 50px;
}

#home > ul li {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}

#home > ul a {
    display: inline-block;
    width: 180px;
    height: 30px;
    line-height: 30px;
}

.button {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    text-decoration: none;
    color: #666;
}


/* Autosuggest box */

div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}
